{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Typesense plugin for Craft CMS 3.x
 *
 * Typesense typesense-settings.twig
 *
 * @author    percipio.london
 * @copyright Copyright (c) 2022 Percipio Global Ltd.
 * @link      https://percipio.london
 * @package   Typesense
 * @since     1.0.0
 */
#}

{%- requirePermission 'typesense:plugin-settings' -%}

{%- extends "_layouts/cp" -%}

{%- import '_includes/forms' as forms -%}

{%- do view.registerAssetBundle('percipiolondon\\typesense\\assetbundles\\typesense\\TypesenseAsset') -%}

{%- block content -%}

    <input type="hidden" name="action" value="typesense/settings/save-plugin-settings">
    <input type="hidden" name="pluginHandle" value="typesense">

    {{- redirectInput('typesense/plugin') -}}

    {{ forms.selectField({
        label: 'Typesense Server Type'|t('blitz'),
        instructions: 'The server type for connecting to the Typesense API.'|t('typesense'),
        suggestEnvVars: true,
        name: 'serverType',
        value: settings.typesenseServer,
        options: {
            typesenseServer: "Single Server"|t('typesense'),
            typesenseCluster: "Cluster"|t('typesense'),
            typesenseCloud: "Typesense Cloud"|t('typesense')
        },
        toggle: true,
        required: true,
    }) }}

    <div id="typesenseServer" class="hidden">
        {{ forms.autosuggestField({
            label: 'Typesense host address',
            instructions: 'The Typesense server address.'|t('typesense'),
            suggestEnvVars: true,
            id: 'server',
            name: 'server',
            value: settings.server,
        }) }}

        {{ forms.autosuggestField({
            label: 'Typesense port ( default is 8108 )',
            instructions: 'Port on which Typesense API service listens.'|t('typesense'),
            suggestEnvVars: true,
            id: 'port',
            name: 'port',
            value: settings.port,
        }) }}
    </div>

    <div id="typesenseCluster" class="hidden">
        {{ forms.autosuggestField({
            label: 'Typesense cluster servers',
            instructions: 'The Typesense cluster server addresses divided by `;`.'|t('typesense'),
            suggestEnvVars: true,
            id: 'cluster',
            name: 'cluster',
            value: settings.cluster,
        }) }}

        {{ forms.autosuggestField({
            label: 'Typesense cluster port ( default is 8108 )',
            instructions: 'Port on which the Typesense API service listens.'|t('typesense'),
            suggestEnvVars: true,
            id: 'clusterPort',
            name: 'clusterPort',
            value: settings.clusterPort,
        }) }}
    </div>

    {% set info %}
        <span class="info">The API key and search only API key from your Typesense environment.</span>
    {% endset %}

    {{ forms.autosuggestField({
        label: 'API Key',
        instructions: 'The admin API key that allows all operations.'|t('typesense'),
        suggestEnvVars: true,
        required: true,
        id: 'apiKey',
        name: 'apiKey',
        value: settings.apiKey,
    }) }}

    {{ forms.autosuggestField({
        label: 'Search only API Key',
        instructions: 'The search only API key that can fetch the search results only.'|t('typesense'),
        suggestEnvVars: true,
        id: 'searchOnlyApiKey',
        name: 'searchOnlyApiKey',
        value: settings.searchOnlyApiKey,
    }) }}

{%- endblock -%}
