{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Typesense plugin for Craft CMS 3.x
 *
 * Typesense index.twig
 *
 * @author    percipiolondon
 * @copyright Copyright (c) 2021 percipiolondon
 * @link      https://percipio.london
 * @package   Typesense
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}

{% set scriptTagOptions = {
    'depends': [
        'percipiolondon\\typesense\\assetbundles\\typesense\\TypesenseAsset'
    ],
} %}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("percipiolondon\\typesense\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/percipioglobal/typesense/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "Typesense" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('typesense') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@percipiolondon/typesense/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('typesense') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
    {{ craft.typesense.register('/src/js/typesense.ts', false, scriptTagOptions) }}
    
    <h2>{{ "Index CP Section body goes here"|t('typesense') }}</h2>

    <div class="bg-teal-800 text-white hover:bg-sky-300 hover:text-black transition-all ease-in-out duration-200 text-4xl p-20">
        Tailwind + Vue test
    </div>

    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
